@use '../../../../../public/theme/boeris-theme';

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.with-main-banner {
    margin-top: 15vh;
}

.main-section {
    background-color: boeris-theme.$secondaryLightColor;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 72px;
        color: boeris-theme.$primaryColor;
    }
}

.without-menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .with-main-banner {
        margin-top: 10vh;
    }
}
