<div class="main-container">
    <div class="upper-section">
        @let hasMainBanner = !deviceTypeService.isMobile() || (router.url !== '/sections/purchases');
        <app-main-banner
        [(menuVisible)]="menuOpened"
        [isListBanner]="!hasMainBanner"
        ></app-main-banner>
    </div>
    <div
    class="bottom-section with-main-banner"
    >
        <app-menu-sidebar
        [(menuOpened)]="menuOpened"
        ></app-menu-sidebar>
        <div class="main-section">
            @if (router.url === '/sections') {
                <div class="without-menu-section">
                    <p>¡Bienvenido!</p>
                    <p>Haga click sobre un menú</p>
                </div>
            }
            <router-outlet/>
        </div>
    </div>
</div>
