<div class="main-container">
    <div class="upper-section">
        <app-main-banner
        [(menuVisible)]="menuOpened"
        ></app-main-banner>
    </div>
    <div class="bottom-section">
        <app-menu-sidebar
        [(menuOpened)]="menuOpened"
        ></app-menu-sidebar>
        <div class="main-section">
            @if (router.url === '/sections') {
                <div class="without-menu-section">
                    <p>¡Bienvenido!</p>
                    <p>Haga click sobre un menú</p>
                </div>
            }
            <router-outlet/>
        </div>
    </div>
</div>