<div class="contenedor">
    <header class="card flex justify-content-center">

        <div class="filtros">
            <div class="campos-filtros" (click)="filtrarMateriasPrimas($event)">
                <div
                *ngFor="let filtro of filterOptions"
                [class]="filtro.class"
                >
                    <p-checkbox
                    name="group"
                    class="circular-checkbox"
                    [value]="filtro"
                    [(ngModel)]="filtrosSeleccionados"
                    [inputId]="filtro.key"
                    ></p-checkbox>
                    <label
                    [for]="filtro.key"
                    >
                        {{ filtro.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="busqueda">
            <div class="busqueda-normal"
            (click)="onSearchClick()"
            >
                <fa-icon
                [icon]="['fas', 'magnifying-glass']"
                style="
                    color: grey;
                    margin-right: 5px;
                "
                ></fa-icon>
                <input #inputText pInputText [(ngModel)]="cadenaBusqueda" (keyup)="buscar()">
            </div>
            <div class="filtro-busqueda">
                <div
                (click)="opSearch.toggle($event)"
                >
                    <fa-icon
                    [icon]="['fas', 'filter']"
                    ></fa-icon>
                </div>
                <p-overlayPanel
                #opSearch
                >
                    <ng-template pTemplate="content">
                        <div
                        *ngFor="let filtroBusqueda of searchFilterOptions"
                        class="filtro-busqueda-normal"
                        >
                            <p-radioButton
                            [inputId]="filtroBusqueda.id.toString()"
                            name="category"
                            [value]="filtroBusqueda"
                            [(ngModel)]="searchFilterSelected"
                            ></p-radioButton>
                            <label [for]="filtroBusqueda.id" style="padding: 5px;">{{ filtroBusqueda.filtro }}</label>
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </div>
            <div style="padding: 5px;">
                <p-toggleButton
                [(ngModel)]="busquedaAvanzadaActiva"
                [onIcon]="'pi pi-search-minus'"
                [offIcon]="'pi pi-search-plus'"
                >
                </p-toggleButton>
            </div>
        </div>

        <div class="ordenamiento">
            <p-treeSelect
            [options]="ordenOpciones"
            [(ngModel)]="ordenSeleccionado"
            placeholder="Orden"
            selectionMode="single"
            [appendTo]="'body'"
            (onNodeSelect)="ordenarMateriasPrimas()"
            >
                <ng-template let-node pTemplate="default">
                    <div class="nodo-arbol">
                        {{ node.label }}
                    </div>
                </ng-template>
            </p-treeSelect>
            <div
            class="sentido-orden"
            (click)="cambiarOrden()"
            >
                <div
                class="orden-alfabetico"
                *ngIf="esOrdenAlfabetico()"
                >
                    <div class="animados" [ngClass]="{'vanish': cambioOrden}">
                        <fa-icon
                        [icon]="['fas', ordenAscendente ? 'arrow-up-z-a' : 'arrow-down-z-a']"
                        size="xl"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                    </div>
                </div>

                <div
                class="orden-por-fecha"
                *ngIf="esOrdenadoPorFecha()"
                >
                    <div class="animados" [ngClass]="{'disappear': cambioOrden}">
                        <fa-icon
                        *ngIf="ordenAscendente"
                        [icon]="['fas', 'arrow-up-long']"
                        size="lg"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                        <fa-icon
                        *ngIf="!ordenAscendente"
                        [icon]="['fas', 'arrow-down-long']"
                        size="lg"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                    </div>
                    <div>
                        <fa-icon
                        [icon]="['fas', 'calendar']"
                        size="xl"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                    </div>
                </div>

                <div
                class="orden-por-magnitud"
                *ngIf="esOrdenadoPorMagnitud()"
                >
                    <div class="animados" [ngClass]="{'vanish': cambioOrden}">
                        <fa-icon
                        *ngIf="ordenAscendente"
                        [icon]="['fas', 'arrow-up-9-1']"
                        size="xl"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                        
                        <fa-icon
                        *ngIf="!ordenAscendente"
                        [icon]="['fas', 'arrow-down-9-1']"
                        size="xl"
                        class="iconos-sentido-orden"
                        ></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <app-advanced-search
    [isVisible]="busquedaAvanzadaActiva"
    >
    </app-advanced-search>
    
    <div class="listado">
        <p-virtualScroller
        [value]="cadenaBusqueda === '' ? showedRawMaterials : searchedRawMaterials"
        [scrollHeight]="(175 * showedRawMaterials.length + 3 * (showedRawMaterials.length + 1)).toString() + 'px'"
        [itemSize]="165"
        >
            <ng-template pTemplate="header">
                <div class="botones">
                    <div class="gestion-pedidos">
                        <p-button
                        icon="fas fa-eye"
                        [rounded]="true"
                        >
                        </p-button>
                
                        <p-button
                        icon="fas fa-plus"
                        [rounded]="true"
                        >
                        </p-button>
                    </div>
                    
                    <div class="utilizacion-materias-primas">
                        <p-button
                        icon="far fa-hand"
                        [rounded]="true"
                        >
                        </p-button>
                    </div>
                </div>
            </ng-template>

            <ng-template let-rawMaterial pTemplate="item">
                <app-card-raw-material
                [rawMaterial]="rawMaterial"
                ></app-card-raw-material>
            </ng-template>
        </p-virtualScroller>
    </div>
</div>
