<div class="container">
    <div class="form">
        <input pInputText placeholder="Nombre" [(ngModel)]="firstName"/>
        <input pInputText placeholder="Apellido" [(ngModel)]="lastName"/>
        <input pInputText placeholder="E-mail" autocapitalize="off" inputmode="email" [(ngModel)]="email"/>
    </div>
    
    <div class="botones">
        <p-button
        severity="secondary"
        label="Cancelar"
        (onClick)="clickOnCancel()"
        ></p-button>
        @if (!isLoading) {
            <p-button
            label="Crear socio"
            (onClick)="createPartner()"
            ></p-button>
        }
        @else {
            <p-button
            [disabled]="isLoading"
            >
                <i class="pi pi-spinner pi-spin"></i>
            </p-button>
        }
    </div>
</div>