<p-toast></p-toast>
<div class="product-data-form-view">
    <div class="product-data-form">
        <div class="flex justify-content-center">
            <app-image-manager
            [selectedProduct]="productsCatalogService.selectedProduct()"
            [disabled]="productsCatalogService.selectedProduct() === null || loading"
            (uploadEvent)="updateProductPicture($event)"
            ></app-image-manager>
        </div>
        <div class="fields">
            <input
            type="text"
            pInputText
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.PRODUCTS.FIELDS.NAME')"
            [disabled]="productsCatalogService.selectedProduct() === null || loading"
            [ngModel]="productsCatalogService.selectedProduct()?.name"
            (ngModelChange)="updateProductName($event)"
            >

            <p-inputNumber
            inputId="minmaxfraction"
            mode="decimal"
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.PRODUCTS.FIELDS.PRICE')"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [disabled]="productsCatalogService.selectedProduct() === null || loading"
            [ngModel]="productsCatalogService.selectedProduct()?.price"
            (ngModelChange)="updateProductPrice($event)"
            ></p-inputNumber>

            <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.PRODUCTS.FIELDS.COMMENT')"
            [disabled]="productsCatalogService.selectedProduct() === null || loading"
            [ngModel]="productsCatalogService.selectedProduct()?.comment"
            (ngModelChange)="updateProductComment($event)"
            ></textarea>
        </div>
    </div>
    <div class="product-data-form-buttons">
        <p-button
        class="bottom-button"
        [label]="translateService.instant('SHARED.BUTTONS.CANCEL')"
        severity="secondary"
        [disabled]="productsCatalogService.selectedProduct() === null || loading"
        (onClick)="clickOnCancel()"
        ></p-button>

        @if (!loading) {
            <p-button
            class="bottom-button"
            [label]="translateService.instant('SHARED.BUTTONS.CONFIRM')"
            [disabled]="
                productsCatalogService.selectedProduct() === null ||
                productsCatalogService.nonModified && productsCatalogService.selectedProduct() !== null && productsCatalogService.selectedProduct()?.id !== 0
            "
            (onClick)="clickOnConfirm()"
            ></p-button>
        }
        @else {
            <p-button
            class="bottom-button"
            [disabled]="true"
            >
                <i class="pi pi-spin pi-spinner"></i>
            </p-button>
        }
    </div>
</div>