<p-toast></p-toast>
<div class="container">
    <div class="vista-lista-socios">
        <div class="botones">
            <p-button label="Agregar socio" icon="fas fa-plus" (onClick)="clickOnAddPartner()"></p-button>
        </div>
        <app-list-partners
        ></app-list-partners>
    </div>
    @if (!isMobile) {
        <p-divider layout="vertical"/>
        <div class="vista-edicion">
            @if (!addMode) {
                @if (selectedPartner) {
                    <app-roles
                    ></app-roles>
                }
                @else {
                    <p class="mensaje-socio-no-seleccionado">{{ 'SECTIONS.PARTNERS.ROLES.SELECT_PARTNER' | translate }}</p>
                }
            }
            @else {
                <app-partner-addition
                (onPartnerCreation)="addedPartner()"
                ></app-partner-addition>
            }
        </div>
    }
</div>