@use '../../../../../../public/theme/boeris-theme';

:host {
    width: 100%;
    height: 100%;
    padding: 10px;

    ::ng-deep .p-divider.p-divider-vertical:before {
        border-color: boeris-theme.$secondaryDarkerColor;
    }
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    user-select: none;
}

.botones {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.mensaje-socio-no-seleccionado {
    color: boeris-theme.$primaryColor;
    user-select: none;
    font-size: xx-large;
}

.vista-lista-socios {
    width: 30%;
}

.vista-edicion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

@media screen and (max-width: 500px) {
    .vista-lista-socios {
        width: 100%;
    }

    .vista-edicion {
        width: 100%;
    }
}