<div class="fields">
    <div class="flex flex-column gap-2">
        <p>{{ 'SHARED.OBJECTS.DISCARDER.FIELDS.REASON_LABEL' | translate }}</p>
        <div class="pt-2">
            <p-radiobutton name="reason" [value]="translateService.instant('SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.BREAK')" [(ngModel)]="reason" inputId="break" (ngModelChange)="onReasonChange()"/>
            <label for="break" class="ml-2">{{ 'SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.BREAK' | translate }}</label>
        </div>
        <div>
            <p-radiobutton name="reason" [value]="translateService.instant('SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.LOSS')" [(ngModel)]="reason" inputId="loss" (ngModelChange)="onReasonChange()"/>
            <label for="loss" class="ml-2">{{ 'SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.LOSS' | translate }}</label>
        </div>
        <div>
            <p-radiobutton name="reason" [value]="translateService.instant('SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.MISTAKE')" [(ngModel)]="reason" inputId="mistake" (ngModelChange)="onReasonChange()"/>
            <label for="mistake" class="ml-2">{{ 'SHARED.OBJECTS.DISCARDER.FIELDS.REASONS.MISTAKE' | translate
                }}</label>
        </div>
        <p class="error-message">
            @if (reasonsLack) {
                {{ 'SHARED.OBJECTS.DISCARDER.FIELDS.ERROR.REASON' | translate }}
            }
        </p>
    </div>
    <div class="flex flex-column gap-2">
        <p>{{ 'SHARED.OBJECTS.DISCARDER.FIELDS.QUANTITY' | translate }}</p>
        <p-inputnumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" (ngModelChange)="onQuantityChange()"/>

        <p class="error-message">
            @if (quantityCero) {
                {{ 'SHARED.OBJECTS.DISCARDER.FIELDS.ERROR.QUANTITY' | translate }}
            }
            @else if (quantityExceeds) {
                {{ 'SHARED.OBJECTS.DISCARDER.FIELDS.ERROR.STOCK' | translate }}
            }
        </p>
    </div>
    <footer class="buttons">
        <p-button severity="secondary" class="buttons-section"
            [label]="translateService.instant('SHARED.BUTTONS.CANCEL')" (onClick)="onCancel()"></p-button>
        @if (isLoading()) {
        <p-button class="buttons-section" [disabled]="true">
            <i class="pi pi-spinner pi-spin"></i>
        </p-button>
        }
        @else{
        <p-button class="buttons-section" [label]="translateService.instant('SHARED.BUTTONS.ACCEPT')"
            (onClick)="onAccept()"></p-button>
        }
    </footer>
</div>