@charset "UTF-8";
@import 'boeris-colores';

:root {
  --primary-color: $main-button;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
  border-color: $main-button;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
  border-color: $main-button;
}

.p-datepicker table td > span.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight {
  color: $main-button;
}

.p-cascadeselect:not(.p-disabled).p-focus {
  border-color: $main-button;
}

.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $main-button;
  background: $main-button;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border-color: $click-button;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $hover-button;
  background: $hover-button;
  color: #ffffff;
}

.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
  background: $main-button;
}

.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: $hover-button;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  border-color: $click-button;
}
.p-chips .p-chips-multiple-container .p-chips-token {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-dropdown:not(.p-disabled).p-focus {
  border-color: $main-button;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-editor-container .ql-snow.ql-toolbar button.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: $main-button;
}

.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: $main-button;
}

.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill {
  fill: $main-button;
}

.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-picker-label,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-picker-label,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-picker-label {
  color: $main-button;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: rgba(0, 58, 183, 0.12);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background: $main-button;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: rgba(0, 58, 183, 0.12);
}

.p-inputtext:enabled:focus {
  border-color: $main-button;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-multiselect:not(.p-disabled).p-focus {
  border-color: $main-button;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  border-color: $main-button;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: $main-button;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $main-button;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: $main-button;
  color: $main-button;
}

.p-rating .p-rating-icon {
  color: $main-button;
}

.p-rating .p-rating-icon.pi-star {
  color: $main-button;
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: $main-button;
}

.p-slider .p-slider-handle {
  background: $main-button;
}

.p-slider .p-slider-range {
  background: $main-button;
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: $main-button;
}

.p-button {
  background: $main-button;
}
.p-button:enabled:hover {
  background: $hover-button;
}

.p-button:enabled:focus {
  background: $click-button;
}
.p-button.p-button-outlined {
  color: $main-button;
}
.p-button.p-button-outlined:enabled:hover {
  color: $hover-button;
}

.p-button.p-button-outlined:enabled:focus {
  background: $click-button;
}

.p-button.p-button-text {
  color: $main-button;
}

.p-button.p-button-text:enabled:hover {
  color: $hover-button;
}


.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
  color: $text-grey;
  background: $light-grey;
}
.p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary > .p-button:enabled:hover, .p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: $semi-light-grey;
  color: $text-grey;
}

.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary > .p-button:enabled:active, .p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: $semi-dark-grey;
  color: $text-white;
}
.p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  color: $light-grey;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  color: $semi-light-grey;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: $semi-dark-grey;
  color: $text-white;
}
.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary > .p-button.p-button-text, .p-splitbutton.p-button-secondary > .p-button.p-button-text {
  color: $semi-light-grey;
}
.p-button.p-button-secondary.p-button-text:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  color: $semi-light-grey;
}
.p-button.p-button-secondary.p-button-text:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: $semi-dark-grey;
  color: $text-white;
}

.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button {
  color: #ffffff;
  background: #2196F3;
  border: 0 none;
}
.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info > .p-button:enabled:hover, .p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: rgba(33, 150, 243, 0.92);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-info:enabled:focus, .p-buttonset.p-button-info > .p-button:enabled:focus, .p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-info:enabled:active, .p-buttonset.p-button-info > .p-button:enabled:active, .p-splitbutton.p-button-info > .p-button:enabled:active {
  background: rgba(33, 150, 243, 0.68);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-info.p-button-outlined, .p-buttonset.p-button-info > .p-button.p-button-outlined, .p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: #2196F3;
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:hover, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: #2196F3;
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  color: #2196F3;
  border: 1px solid;
}
.p-button.p-button-info.p-button-text, .p-buttonset.p-button-info > .p-button.p-button-text, .p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: #2196F3;
  border-color: transparent;
}
.p-button.p-button-info.p-button-text:enabled:hover, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  border-color: transparent;
  color: #2196F3;
}
.p-button.p-button-info.p-button-text:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  border-color: transparent;
  color: #2196F3;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
  background: $background-button-success;
  color: $color-button-success;
  border-color: $border-color-button-danger;
}
.p-button.p-button-success:enabled:hover, .p-buttonset.p-button-success > .p-button:enabled:hover, .p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: $hover-filter-button;
}

.p-button.p-button-success:enabled:focus, .p-buttonset.p-button-success > .p-button:enabled:focus, .p-splitbutton.p-button-success > .p-button:enabled:focus {
  background: $click-filter-button;
}
.p-button.p-button-success.p-button-outlined, .p-buttonset.p-button-success > .p-button.p-button-outlined, .p-splitbutton.p-button-success > .p-button.p-button-outlined {
  color: $filter-button;
}
.p-button.p-button-success.p-button-outlined:enabled:hover, .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  color:$hover-filter-button;
}
.p-button.p-button-success.p-button-outlined:enabled:focus, .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:focus {
  color: $click-filter-button;
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
  color: #212529;
  background: #FBC02D;
  border: 0 none;
}
.p-button.p-button-warning:enabled:hover, .p-buttonset.p-button-warning > .p-button:enabled:hover, .p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: rgba(251, 192, 45, 0.92);
  color: #212529;
  border-color: transparent;
}
.p-button.p-button-warning:enabled:focus, .p-buttonset.p-button-warning > .p-button:enabled:focus, .p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-warning:enabled:active, .p-buttonset.p-button-warning > .p-button:enabled:active, .p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: rgba(251, 192, 45, 0.68);
  color: #212529;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-outlined, .p-buttonset.p-button-warning > .p-button.p-button-outlined, .p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: #FBC02D;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:enabled:hover, .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  color: #FBC02D;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:enabled:active, .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  color: #FBC02D;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-text, .p-buttonset.p-button-warning > .p-button.p-button-text, .p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: #FBC02D;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-text:enabled:hover, .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  border-color: transparent;
  color: #FBC02D;
}
.p-button.p-button-warning.p-button-text:enabled:active, .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  border-color: transparent;
  color: #FBC02D;
}

.p-button.p-button-help, .p-buttonset.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button {
  color: #ffffff;
  background: #9C27B0;
  border: 0 none;
}
.p-button.p-button-help:enabled:hover, .p-buttonset.p-button-help > .p-button:enabled:hover, .p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: rgba(156, 39, 176, 0.92);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-help:enabled:focus, .p-buttonset.p-button-help > .p-button:enabled:focus, .p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-help:enabled:active, .p-buttonset.p-button-help > .p-button:enabled:active, .p-splitbutton.p-button-help > .p-button:enabled:active {
  background: rgba(156, 39, 176, 0.68);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-help.p-button-outlined, .p-buttonset.p-button-help > .p-button.p-button-outlined, .p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: #9C27B0;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:enabled:hover, .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  color: #9C27B0;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:enabled:active, .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  color: #9C27B0;
  border: 1px solid;
}
.p-button.p-button-help.p-button-text, .p-buttonset.p-button-help > .p-button.p-button-text, .p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: #9C27B0;
  border-color: transparent;
}
.p-button.p-button-help.p-button-text:enabled:hover, .p-buttonset.p-button-help > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  border-color: transparent;
  color: #9C27B0;
}
.p-button.p-button-help.p-button-text:enabled:active, .p-buttonset.p-button-help > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  border-color: transparent;
  color: #9C27B0;
}

.p-button.p-button-danger, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
  /* color: #ffffff;
  background: #D32F2F;
  border: 0 none; */
  background-color: $background-button-danger;
  color: $color-button-danger;
  border-color: $border-color-button-success;
}
.p-button.p-button-danger:enabled:hover, .p-buttonset.p-button-danger > .p-button:enabled:hover, .p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: rgba(211, 47, 47, 0.92);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-danger:enabled:active, .p-buttonset.p-button-danger > .p-button:enabled:active, .p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: rgba(211, 47, 47, 0.68);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-outlined, .p-buttonset.p-button-danger > .p-button.p-button-outlined, .p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: #D32F2F;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:hover, .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  color: #D32F2F;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:active, .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  color: #D32F2F;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-text, .p-buttonset.p-button-danger > .p-button.p-button-text, .p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: #D32F2F;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-text:enabled:hover, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: #D32F2F;
}
.p-button.p-button-danger.p-button-text:enabled:active, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: #D32F2F;
}

.p-button.p-button-link {
  color: $main-button;
}

.p-button.p-button-link:enabled:hover {
  color: $hover-button;
}
/*
.p-button.p-button-link:enabled:focus {
  color: $click-button;
}*/

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-datatable .p-sortable-column .p-sortable-column-badge {
  background-color: rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 rgba(0, 58, 183, 0.12);
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 rgba(0, 58, 183, 0.12);
}

.p-datatable .p-column-resizer-helper {
  background: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight {
  color: $main-button;
  background-color: rgba(0, 58, 183, 0.12);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler {
  color: $main-button;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler:hover {
  color: $hover-button;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active, .p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
  color: $hover-button;
  background: rgba(0, 58, 183, 0.12);
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item.p-highlight {
  color: $main-button;
  background: rgba(0, 58, 183, 0.12);
}

.fc .fc-view-container .fc-event {
  background: rgba(0, 58, 183, 0.12);
  border: 1px solid rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.fc .fc-toolbar .fc-button {
  background: $main-button;
}

.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight {
  color: $main-button;
  background: rgba(0, 58, 183, 0.12);
}

.p-organizationchart .p-organizationchart-node-content.p-highlight {
  background: rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: $main-button;
  background: rgba(0, 58, 183, 0.12);
  border-color: rgba(0, 58, 183, 0.12);
}

.p-picklist .p-picklist-list .p-picklist-item.p-highlight {
  background: rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  color: $main-button;
  background: rgba(0, 58, 183, 0.12);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
  color: $main-button;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon:hover {
  color: $hover-button;
}

.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-highlight {
  color: $main-button;
}
.p-tree.p-tree-horizontal .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
  color: $main-button;
}

.p-treetable .p-sortable-column .p-sortable-column-badge {
  background: rgba(0, 58, 183, 0.12);
  color: $main-button;
}

.p-treetable .p-treetable-tbody > tr.p-highlight {
  background: rgba(0, 58, 183, 0.12);
  color: $main-button;
}
.p-treetable .p-treetable-tbody > tr.p-highlight .p-treetable-toggler {
  color: $main-button;
}
.p-treetable .p-treetable-tbody > tr.p-highlight .p-treetable-toggler:hover {
  color: $hover-button;
}

.p-treetable .p-column-resizer-helper {
  background: $main-button;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: $main-button;
}

.p-overlaypanel .p-overlaypanel-close {
  background: $main-button;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: $hover-button;
}

.p-fileupload-choose:not(.p-disabled):hover {
  background: $hover-button;
}

.p-fileupload-choose:not(.p-disabled):active {
  background: $click-button;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: $main-button;
}

.p-inline-message.p-inline-message-info {
  background: #B3E5FC;
  border: solid transparent;
  border-width: 1px;
  color: #01579B;
}
.p-inline-message.p-inline-message-info .p-inline-message-icon {
  color: #01579B;
}
.p-inline-message.p-inline-message-success {
  background: #C8E6C9;
  border: solid transparent;
  border-width: 1px;
  color: #1B5E20;
}
.p-inline-message.p-inline-message-success .p-inline-message-icon {
  color: #1B5E20;
}
.p-inline-message.p-inline-message-warn {
  background: #FFECB3;
  border: solid transparent;
  border-width: 1px;
  color: #7f6003;
}
.p-inline-message.p-inline-message-warn .p-inline-message-icon {
  color: #7f6003;
}
.p-inline-message.p-inline-message-error {
  background: #FFCDD2;
  border: solid transparent;
  border-width: 1px;
  color: #B71C1C;
}
.p-inline-message.p-inline-message-error .p-inline-message-icon {
  color: #B71C1C;
}
.p-message.p-message-info {
  background: #B3E5FC;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579B;
}
.p-message.p-message-info .p-message-icon {
  color: #01579B;
}
.p-message.p-message-info .p-message-close {
  color: #01579B;
}
.p-message.p-message-success {
  background: #C8E6C9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1B5E20;
}
.p-message.p-message-success .p-message-icon {
  color: #1B5E20;
}
.p-message.p-message-success .p-message-close {
  color: #1B5E20;
}
.p-message.p-message-warn {
  background: #FFECB3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}
.p-message.p-message-warn .p-message-icon {
  color: #7f6003;
}
.p-message.p-message-warn .p-message-close {
  color: #7f6003;
}
.p-message.p-message-error {
  background: #FFCDD2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #B71C1C;
}
.p-message.p-message-error .p-message-icon {
  color: #B71C1C;
}
.p-message.p-message-error .p-message-close {
  color: #B71C1C;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.3);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: #B3E5FC;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #01579B;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #01579B;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: #C8E6C9;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #1B5E20;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1B5E20;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: #FFECB3;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #7f6003;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #7f6003;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: #FFCDD2;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: #B71C1C;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #B71C1C;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background: rgba(0, 58, 183, 0.12);
  color: $main-button;
}
.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  color: $main-button;
  background: rgba(0, 58, 183, 0.12);
}
.p-badge {
  background: $main-button;
}
.p-badge.p-badge-secondary {
  background-color: #4CAF50;
  color: #ffffff;
}
.p-badge.p-badge-success {
  background-color: #689F38;
  color: #ffffff;
}
.p-badge.p-badge-info {
  background-color: #2196F3;
  color: #ffffff;
}
.p-badge.p-badge-warning {
  background-color: #FBC02D;
  color: #212529;
}
.p-badge.p-badge-danger {
  background-color: #D32F2F;
  color: #ffffff;
}

.p-progressbar {
  background: $light-grey;
}
.p-progressbar .p-progressbar-value {
  background: $main-button;
}
.p-scrolltop.p-link {
  background: #4CAF50;
}
.p-scrolltop.p-link:hover {
  background: rgba(76, 175, 80, 0.92);
}

.p-tag {
  background: $main-button;
}
.p-tag.p-tag-success {
  background-color: #689F38;
  color: #ffffff;
}
.p-tag.p-tag-info {
  background-color: #2196F3;
  color: #ffffff;
}
.p-tag.p-tag-warning {
  background-color: #FBC02D;
  color: #212529;
}
.p-tag.p-tag-danger {
  background-color: #D32F2F;
  color: #ffffff;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

.p-input-filled .p-autocomplete .p-autocomplete-multiple-container {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}

.p-input-filled .p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled):hover {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.p-input-filled p-autocomplete.ng-dirty.ng-invalid .p-autocomplete > .p-inputtext {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
.p-input-filled p-autocomplete.ng-dirty.ng-invalid .p-autocomplete .p-autocomplete-multiple-container {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}

p-autocomplete.ng-dirty.ng-invalid .p-autocomplete > .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}
p-autocomplete.ng-dirty.ng-invalid .p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-datepicker table td.p-datepicker-today.p-highlight {
  box-shadow: 0 0 0 1px rgba(0, 58, 183, 0.12);
}

.p-button.p-button-text:enabled:active, .p-button.p-button-outlined:enabled:active {
  background: rgba(0, 58, 183, 0.16);
  color: $text-white;
}
.p-button.p-button-text .p-ink, .p-button.p-button-outlined .p-ink {
  background-color: rgba(0, 58, 183, 0.16);
}

.p-button.p-button-secondary:enabled:focus, .p-buttonset.p-button-secondary > .p-button:enabled:focus, .p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  background: $semi-dark-grey;
}
.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary > .p-button:enabled:active, .p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: $semi-dark-grey;
}
.p-button.p-button-secondary.p-button-text:enabled:focus, .p-button.p-button-secondary.p-button-outlined:enabled:focus, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:focus {
  background: $semi-dark-grey;
}
.p-button.p-button-secondary.p-button-text:enabled:active, .p-button.p-button-secondary.p-button-outlined:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: $semi-dark-grey;
}
.p-button.p-button-secondary.p-button-text .p-ink, .p-button.p-button-secondary.p-button-outlined .p-ink, .p-buttonset.p-button-secondary > .p-button.p-button-text .p-ink, .p-buttonset.p-button-secondary > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-secondary > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined .p-ink {
  background-color: $semi-dark-grey;
}

.p-button.p-button-info:enabled:focus, .p-buttonset.p-button-info > .p-button:enabled:focus, .p-splitbutton.p-button-info > .p-button:enabled:focus {
  background: rgba(33, 150, 243, 0.76);
}
.p-button.p-button-info:enabled:active, .p-buttonset.p-button-info > .p-button:enabled:active, .p-splitbutton.p-button-info > .p-button:enabled:active {
  background: rgba(33, 150, 243, 0.68);
}
.p-button.p-button-info.p-button-text:enabled:focus, .p-button.p-button-info.p-button-outlined:enabled:focus, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:focus {
  background: rgba(33, 150, 243, 0.12);
}
.p-button.p-button-info.p-button-text:enabled:active, .p-button.p-button-info.p-button-outlined:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
}
.p-button.p-button-info.p-button-text .p-ink, .p-button.p-button-info.p-button-outlined .p-ink, .p-buttonset.p-button-info > .p-button.p-button-text .p-ink, .p-buttonset.p-button-info > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-info > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-info > .p-button.p-button-outlined .p-ink {
  background-color: rgba(33, 150, 243, 0.16);
}

.p-button.p-button-success:enabled:focus, .p-buttonset.p-button-success > .p-button:enabled:focus, .p-splitbutton.p-button-success > .p-button:enabled:focus {
  background: $click-filter-button;
}
.p-button.p-button-success:enabled:active, .p-buttonset.p-button-success > .p-button:enabled:active, .p-splitbutton.p-button-success > .p-button:enabled:active {
  background: $click-filter-button;
}
.p-button.p-button-success.p-button-text:enabled:focus, .p-button.p-button-success.p-button-outlined:enabled:focus, .p-buttonset.p-button-success > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-success > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:focus {
  background: $click-filter-button;
}
.p-button.p-button-success.p-button-text:enabled:active, .p-button.p-button-success.p-button-outlined:enabled:active, .p-buttonset.p-button-success > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: $click-filter-button;
}
.p-button.p-button-success.p-button-text .p-ink, .p-button.p-button-success.p-button-outlined .p-ink, .p-buttonset.p-button-success > .p-button.p-button-text .p-ink, .p-buttonset.p-button-success > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-success > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-success > .p-button.p-button-outlined .p-ink {
  background-color: $click-filter-button;
}

.p-button.p-button-warning:enabled:focus, .p-buttonset.p-button-warning > .p-button:enabled:focus, .p-splitbutton.p-button-warning > .p-button:enabled:focus {
  background: rgba(251, 192, 45, 0.76);
}
.p-button.p-button-warning:enabled:active, .p-buttonset.p-button-warning > .p-button:enabled:active, .p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: rgba(251, 192, 45, 0.68);
}
.p-button.p-button-warning.p-button-text:enabled:focus, .p-button.p-button-warning.p-button-outlined:enabled:focus, .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:focus {
  background: rgba(251, 192, 45, 0.12);
}
.p-button.p-button-warning.p-button-text:enabled:active, .p-button.p-button-warning.p-button-outlined:enabled:active, .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
}
.p-button.p-button-warning.p-button-text .p-ink, .p-button.p-button-warning.p-button-outlined .p-ink, .p-buttonset.p-button-warning > .p-button.p-button-text .p-ink, .p-buttonset.p-button-warning > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-warning > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-warning > .p-button.p-button-outlined .p-ink {
  background-color: rgba(251, 192, 45, 0.16);
}

.p-button.p-button-help:enabled:focus, .p-buttonset.p-button-help > .p-button:enabled:focus, .p-splitbutton.p-button-help > .p-button:enabled:focus {
  background: rgba(156, 39, 176, 0.76);
}
.p-button.p-button-help:enabled:active, .p-buttonset.p-button-help > .p-button:enabled:active, .p-splitbutton.p-button-help > .p-button:enabled:active {
  background: rgba(156, 39, 176, 0.68);
}
.p-button.p-button-help.p-button-text:enabled:focus, .p-button.p-button-help.p-button-outlined:enabled:focus, .p-buttonset.p-button-help > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:focus {
  background: rgba(156, 39, 176, 0.12);
}
.p-button.p-button-help.p-button-text:enabled:active, .p-button.p-button-help.p-button-outlined:enabled:active, .p-buttonset.p-button-help > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
}
.p-button.p-button-help.p-button-text .p-ink, .p-button.p-button-help.p-button-outlined .p-ink, .p-buttonset.p-button-help > .p-button.p-button-text .p-ink, .p-buttonset.p-button-help > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-help > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-help > .p-button.p-button-outlined .p-ink {
  background-color: rgba(156, 39, 176, 0.16);
}

.p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger > .p-button:enabled:focus, .p-splitbutton.p-button-danger > .p-button:enabled:focus {
  background: rgba(211, 47, 47, 0.76);
}
.p-button.p-button-danger:enabled:active, .p-buttonset.p-button-danger > .p-button:enabled:active, .p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: rgba(211, 47, 47, 0.68);
}
.p-button.p-button-danger.p-button-text:enabled:focus, .p-button.p-button-danger.p-button-outlined:enabled:focus, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:focus, .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:focus, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:focus, .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:focus {
  background: rgba(211, 47, 47, 0.12);
}
.p-button.p-button-danger.p-button-text:enabled:active, .p-button.p-button-danger.p-button-outlined:enabled:active, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active, .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
}
.p-button.p-button-danger.p-button-text .p-ink, .p-button.p-button-danger.p-button-outlined .p-ink, .p-buttonset.p-button-danger > .p-button.p-button-text .p-ink, .p-buttonset.p-button-danger > .p-button.p-button-outlined .p-ink, .p-splitbutton.p-button-danger > .p-button.p-button-text .p-ink, .p-splitbutton.p-button-danger > .p-button.p-button-outlined .p-ink {
  background-color: rgba(211, 47, 47, 0.16);
}

.p-calendar-w-btn:not(.p-disabled).p-focus {
  border-color: $main-button;
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

p-calendar.ng-dirty.ng-invalid .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}
p-calendar.ng-dirty.ng-invalid .p-calendar-w-btn {
  border-color: #B00020;
}
p-calendar.ng-dirty.ng-invalid .p-calendar-w-btn:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-input-filled .p-calendar-w-btn {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}
.p-input-filled .p-calendar-w-btn .p-inputtext {
  background-image: none;
  background-color: transparent;
}
.p-input-filled .p-calendar-w-btn:not(.p-disabled):hover {
  background-color: #ececec;
  border-color: transparent;
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}

.p-input-filled p-calendar.ng-dirty.ng-invalid .p-inputtext {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
.p-input-filled p-calendar.ng-dirty.ng-invalid .p-calendar-w-btn {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
.p-cascadeselect:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

.p-cascadeselect-item .p-ink {
  background-color: $click-button;
}

.p-input-filled .p-cascadeselect {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}
.p-input-filled .p-cascadeselect:not(.p-disabled):hover {
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.p-input-filled p-cascadeselect.ng-dirty.ng-invalid .p-cascadeselect {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}

.p-cascadeselect.ng-dirty.ng-invalid .p-cascadeselect:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background: $main-button;
  color: #ffffff;
}

.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled).p-focus {
  border-color: $main-button;
}
.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

.p-input-filled .p-chips-multiple-container {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}

.p-input-filled .p-chips-multiple-container:not(.p-disabled):hover {
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.p-input-filled p-chips.ng-dirty.ng-invalid .p-chips .p-chips-multiple-container {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}

p-chips.ng-dirty.ng-invalid .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

.p-dropdown-item .p-ink {
  background-color: $click-button;
}

.p-input-filled .p-dropdown {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}

.p-input-filled .p-dropdown:not(.p-disabled):hover {
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.p-input-filled p-dropdown.ng-dirty.ng-invalid .p-dropdown {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
p-dropdown.ng-dirty.ng-invalid .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background: #4CAF50;
  color: #ffffff;
}
.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background: rgba(76, 175, 80, 0.68);
  color: #ffffff;
}

.p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;;
}
.p-inputtext:enabled:focus.ng-invalid.ng-dirty {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-input-filled .p-inputtext {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}
.p-input-filled .p-inputtext:enabled:hover {
  background-color: #ececec;
  border-color: transparent;
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}
.p-input-filled .p-inputtext.ng-invalid.ng-dirty {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
.p-input-filled .p-inputgroup .p-inputgroup-addon {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}

p-inputmask.ng-dirty.ng-invalid .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-input-filled p-inputmask.ng-dirty.ng-invalid .p-inputtext {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}

p-inputnumber.ng-dirty.ng-invalid .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-input-filled p-inputnumber.ng-dirty.ng-invalid .p-inputtext {
  border-color: transparent;
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}
.p-float-label input:focus ~ label,
.p-float-label .p-inputwrapper-focus ~ label {
  color: $main-button;
}

.p-listbox-item .p-ink {
  background-color: $click-button;
}

.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button, inset 0 0 0 1px $main-button;
}

.p-multiselect-item .p-ink {
  background-color: $click-button;
}

.p-input-filled .p-multiselect {
  background-image: linear-gradient(to bottom, $main-button, $main-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
}

.p-input-filled .p-multiselect:not(.p-disabled):hover {
  background-image: linear-gradient(to bottom, $hover-button, $hover-button), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}

.p-input-filled .p-multiselect.ng-dirty.ng-invalid .p-multiselect {
  background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020);
}

.p-multiselect.ng-dirty.ng-invalid .p-multiselect:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020, inset 0 0 0 1px #B00020;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled).p-focus {
  border-color: $main-button;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: $main-button;
  color: $text-white;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0px;
  color: #666666;
}

.p-steps .p-steps-item.p-highlight .p-steps-title{
  color: $main-button
}

.p-steps .p-steps-item .p-menuitem-link {
  cursor: pointer
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: $main-button;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
  background-color: $main-button;
}

.p-datatable .p-sortable-column.p-highlight {
    color: $main-button;
}

.p-datatable .p-sortable-column.p-highlight:hover {
    color: $hover-button;
}

.p-datatable .p-sortable-column.p-highlight:focus{
    color: $click-button
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: $main-button;
}

.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: $hover-button;
}

.p-datatable .p-sortable-column.p-highlight:active .p-sortable-column-icon {
    color: $click-button;
}

.p-button.p-button-text:enabled:focus, .p-button.p-button-outlined:enabled:focus {
  background: rgba(0, 58, 183, 0.12);
}

.p-checkbox.p-checkbox-checked:not(.p-checkbox-disabled).p-checkbox-focused {
  box-shadow: 0 0 1px 10px rgba(0, 58, 183, 0.12);
}

.p-inputswitch.p-inputswitch-checked.p-inputswitch-focus .p-inputswitch-slider:before, .p-inputswitch.p-inputswitch-checked.p-inputswitch-focus:not(.p-disabled):hover .p-inputswitch-slider:before {
  box-shadow: 0 0 1px 10px rgba(0, 58, 183, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled).p-radiobutton-focused {
  box-shadow: 0 0 1px 10px rgba(0, 58, 183, 0.12);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:focus {
  background-color: rgba(0, 58, 183, 0.12);
}

.p-tabmenu .p-tabmenu-nav li .p-menuitem-link:focus {
  background-color: rgba(0, 58, 183, 0.12);
}

.p-float-label > .ng-invalid.ng-dirty + label{
  color: #f44336;
}

.p-input-filled p-dropdown.ng-dirty.ng-invalid .p-dropdown {
  background-image: linear-gradient(to bottom, #f44336, #f44336), linear-gradient(to bottom, #f44336, #f44336);
  background-size: 0 1px, 100% 2px;
}

p-dropdown.ng-dirty.ng-invalid .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: inset 0 0 0 2px #f44336, inset 0 0 0 2px #f44336, inset 0 0 0 2px #f44336, inset 0 0 0 2px #f44336;
}

.p-button:disabled{
  margin-left: 1em;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: fit-content;
  width: fit-content;
}

.p-dialog {
  .p-dialog-header{
    padding: 0.75em;
    padding-bottom:0em;
  }
  .p-dialog-content{
    padding: 0.75em;
    padding-top: 0em;
    border-radius: 4px;
  }
}

.p-carousel .p-carousel-indicators {
  padding-bottom: 0em;
}

.p-panelmenu .p-panelmenu-panel {
  box-shadow: none;
}

.p-panelmenu .p-panelmenu-header > a {
  background: #666666;
  color: $text-white
}

.p-panelmenu .p-panelmenu-header.p-highlight > a{
  background-color: #666666;
  color: $text-white
}

.p-panelmenu .p-panelmenu-content{
  background-color: #666666;
  color: $text-white
}
.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  background: rgba(0, 0, 0, 0.04);
  color: $text-white
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header:not(.p-highlight) .p-panelmenu-header-link:focus{
  background: rgba(0, 0, 0, 0.04);
  color: $text-white
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header:not(.p-highlight) .p-panelmenu-header-link:hover{
  background: rgba(0, 0, 0, 0.04);
  color: $text-white
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text{
  color: $text-white
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
  color: $text-white
}

// SOL CRUD
.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.5rem;
  background: #f2f2f2;
}

.p-accordion .p-accordion-header .p-accordion-header-link:hover {
  background: #f2f2f2;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #f2f2f2;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link:hover {
  background: #f2f2f2;
}
.p-accordion .p-accordion-content {
  background: #fafafa;
}
