<p-toast></p-toast>

<div class="container">
    @if(selectedLocality || !deviceTypeService.isMobile()) {
        <p-dropdown
        [options]="localities"
        optionLabel="name"
        [placeholder]="translateService.instant('SECTIONS.CATALOGS.BRANCHES.FIELDS.LOCALITY')"
        [style]="{ width: '60%' }"
        [emptyMessage]="translateService.instant('SHARED.DROPDOWN.EMPTY_MESSAGES.LOCALITIES')"
        [disabled]="disabled()"
        [ngModel]="selectedLocality"
        (ngModelChange)="emitLocality($event)"
        ></p-dropdown>
    }
    @else {
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    }

    <div class="buttons">
        <p-button
        icon="fas fa-plus"
        [disabled]="disabled()"
        (onClick)="showModalLocality()"
        ></p-button>

        <p-button
        icon="fas fa-pencil"
        [disabled]="disabled()"
        (onClick)="showModalLocality(true)"
        ></p-button>
    </div>
</div>