<app-header
[titulo]="'Boeri\'s Creaciones'"
>
</app-header>

<div class="register-container">
    <p-card>
        <h1 class="register-header">Crear cuenta</h1>
        <div class="p-fluid datos-a-cargar" (keypress)="register($event)">
            <div class="p-field">
                <input
                [(ngModel)]="username"
                [ngClass]="!username && datos_no_llenados ? clases_error : clases_no_error"
                pInputText
                autocapitalize="none"
                type="text"
                placeholder="Usuario"
                />
            </div>
            <div class="p-field">
                <input
                [(ngModel)]="firstName"
                [ngClass]="!firstName && datos_no_llenados ? clases_error : clases_no_error"
                pInputText
                type="text"
                placeholder="Nombre"
                />
            </div>
            <div class="p-field">
                <input
                [(ngModel)]="lastName"
                [ngClass]="!lastName && datos_no_llenados ? clases_error : clases_no_error"
                pInputText
                type="text"
                placeholder="Apellido"
                />
            </div>
            <div class="p-field">
                <input
                [(ngModel)]="email"
                [ngClass]="!email && datos_no_llenados ? clases_error : clases_no_error"
                pInputText
                inputmode="email"
                autocapitalize="none"
                type="text"
                placeholder="Correo electrónico"
                />
            </div>
            <div class="p-field">
                <p-password
                [(ngModel)]="password"
                [ngClass]="!password && datos_no_llenados ? clases_error : clases_no_error"
                placeholder="Contraseña"
                [disabled]="cargandoRegistro"
                [toggleMask]="true"
                >
                </p-password>
            </div>
            <div class="relleno-para-espacio-de-fuerza-contrasenia"></div>
        </div>
        <p-button [disabled]="cargandoRegistro" [outlined]="true" label="Registrarse" (click)="register($event)"></p-button>
        <a class="login-link" routerLink="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
    </p-card>
</div>