<input id="field" [placeholder]="translateService.instant('SHARED.TABLE.SEARCH')" pInputText [ngModel]="initialInput()" [autocomplete]="false" (keydown)="onWrite($event)" />

<div class="filter">
    <p-button
    severity="secondary"
    icon="fas fa-filter"
    [rounded]="true"
    [text]="true"
    (onClick)="op.toggle($event)"
    ></p-button>

    <p-popover #op [appendTo]="deviceTypeService.isMobile() ? 'target' : 'body'">
        <app-search-filter
        [filters]="filters()"
        [initialKey]="initialFilter()"
        (onFilterSelect)="onFilterChange($event)"
        gap="5px"
        ></app-search-filter>
    </p-popover>
</div>
