@import '../../../../../../../public/theme/boeris-theme';

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

h4 {
    color: $primaryColor;
}

.data-container {
    display: flex;
    justify-content: space-around;
}

.img-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raw-material-img {
    border: 2px solid $primaryColor;
    border-radius: 5px;
    filter: brightness(0) saturate(100%) invert(44%) sepia(65%) saturate(511%) hue-rotate(334deg) brightness(91%) contrast(91%);
    margin-bottom: 1em;
    padding: 3em;
}

.raw-material-img img {
    width: 65px;
    height: 65px;
}

.raw-material-category {
    display: flex;
}

.raw-material-text {
    display: flex;
    flex-direction: column;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


@media screen and (max-width: 500px) {
    .data-container {
        flex-direction: column;
        margin: 1em;
    }
    .img-area {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}