<div class="data-container">
    <div class="img-area">
        <h4>Imagen</h4>
        <div class="raw-material-img">
            <img [src]="getBackgroundImage()" alt="imagen-materia-prima">
        </div>
        <p-button label="Subir archivo" icon="fas fa-download"></p-button>
    </div>
    <div>
        <div class="raw-material-category">
            <p-dropdown [options]="rubros" placeholder="Rubro" [editable]="true" [(ngModel)]="selectedRawMaterialRubro"/>
            <p-button icon="fas fa-plus"></p-button>
            <p-button icon="fas fa-pencil"></p-button>
        </div>
        <div class="raw-material-text">
            <input pInputText id="username" placeholder="Nombre" [(ngModel)]="selectedRawMaterialNombre"/>
            <p-dropdown [options]="unidad" placeholder="Unidad" [editable]="true" [(ngModel)]="selectedRawMaterialUnidad"></p-dropdown>
            <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" placeholder="Comentario" [(ngModel)]="selectedRawMaterialComentario">
</textarea>
        </div>
    </div>
</div>
<div class="botones">
    <p-button label="Cancelar" severity="secondary" (onClick)="clickOnCancel()"></p-button>
    <p-button label="Confirmar" (onClick)="clickOnConfirm()"></p-button>
</div>