@use '../../../../../../public/theme/boeris-theme';

h2 {
    color: boeris-theme.$primaryColor;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    height: 100%;
    background-color: boeris-theme.$secondaryLightColor;
}

::ng-deep app-banner-subsections app-main-banner .header-text {
    font-size: 2rem !important;
}