.container {
    position: absolute;
    top: 11vh;
    width: 100%;
}

:host ::ng-deep {
    .finish-button {
        .p-button {
            width: 103px;
        }
    }
}

::ng-deep {
    .p-steppanel-content {
        width: 100%;
    }

    .p-steplist {
        flex-wrap: wrap;
    }
}