@use '../../../../../../public/theme/boeris-theme';

:host ::ng-deep .p-button-text.p-button-secondary {
    color: boeris-theme.$secondaryColor !important;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon {
    background-image: url('../../../../../../public/icons/logo.png');
    background-size: 5em;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
}