@use '../../../../../../public/theme/boeris-theme';

.header {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: boeris-theme.$primaryColor;
    position: fixed;
    color: boeris-theme.$secondaryColor;
    width: 100%;
    height: 15vh;
}

.header-without-button {
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: boeris-theme.$primaryColor;
    position: fixed;
    color: boeris-theme.$secondaryColor;
    width: 100%;
    height: 10vh;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tomatoes', sans-serif;
    font-size: 2rem;

    user-select: none;
    -webkit-user-select: none;
}

.user-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

:host ::ng-deep .p-popover .p-popover-content {
    padding: 5px;
}

.p-button {
    border-radius: 0;
    width: 100%;
}

// El popover tiene dos flechas (una encima de la otra). Elimino una de ellas y coloreo la otra.
:host ::ng-deep .p-popover {
    top: 10vh;
    right: 1vw;
    z-index: 60;
    
    &:before {
        // content: none !important;
        border-bottom-color: boeris-theme.$secondaryColor !important;
        left: 100px !important;
    }
    
    &:after {
        content: none !important;
        // border-bottom-color: boeris-theme.$secondaryColor !important;
    }
}

@media screen and (max-width: 500px) {
    .header {
        grid-template-columns: 20% 60% 20%;
        height: 10vh;
    }
    
    .header-text {
        font-size: 1.6rem;
    }

    .header-without-button {
        grid-template-columns: 15% 85%;
    }

    :host ::ng-deep .p-popover {
        top: 15vw !important;
        transform: translateX(-1.5vh) !important;
    }
}