<p-toast></p-toast>
<div class="rawMaterial-data-form-view">
    <div class="rawMaterial-data-form">
        <div class="flex justify-content-center">
            <app-image-manager
            [selectedRawMaterial]="rawMaterialsCatalogService.selectedRawMaterial()"
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            (uploadEvent)="updateRawMaterialPicture($event)"
            ></app-image-manager>
        </div>
        <div class="fields">
            <app-category-manager
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            [category]="rawMaterialsCatalogService.selectedRawMaterial()?.category"
            (ngModelChange)="updateRawMaterialCategory($event)"
            ></app-category-manager>

            <input
            type="text"
            pInputText
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.FIELDS.NAME')"
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            [ngModel]="this.rawMaterialsCatalogService.selectedRawMaterial()?.name"
            (ngModelChange)="updateRawMaterialName($event)"
            />

            <p-dropdown
            [options]="units"
            optionLabel="name"
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.FIELDS.UNITS')"
            [style]="{ width: '100%' }"
            [emptyMessage]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.EMPTY_MESSAGES.UNITS')"
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            [ngModel]="this.rawMaterialsCatalogService.selectedRawMaterial()?.unit"
            (ngModelChange)="updateRawMaterialUnit($event)"
            />
            
            <p-dropdown
            [options]="sources"
            optionLabel="value"
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.FIELDS.SOURCE')"
            [style]="{ width: '100%' }"
            [emptyMessage]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.EMPTY_MESSAGES.SOURCES')"
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            [ngModel]="selectedSource"
            (ngModelChange)="updateRawMaterialSource($event)"
            />

            <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [placeholder]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.FIELDS.COMMENT')"
            [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
            [ngModel]="this.rawMaterialsCatalogService.selectedRawMaterial()?.comment"
            (ngModelChange)="updateRawMaterialComment($event)"
            ></textarea>
        </div>
    </div>
    <div class="rawMaterial-data-form-buttons">
        <p-button
        class="bottom-button"
        [label]="translateService.instant('SHARED.BUTTONS.CANCEL')"
        severity="secondary"
        [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || loading"
        (onClick)="clickOnCancel()"
        ></p-button>

        @if (!loading) {
            <p-button
            class="bottom-button"
            [label]="translateService.instant('SHARED.BUTTONS.CONFIRM')"
            [disabled]="
                rawMaterialsCatalogService.selectedRawMaterial() === null ||
                rawMaterialsCatalogService.nonModified && rawMaterialsCatalogService.selectedRawMaterial() !== null && rawMaterialsCatalogService.selectedRawMaterial()?.id !== 0
            "
            (onClick)="clickOnConfirm()"
            ></p-button>
        }
        @else {
            <p-button
            class="bottom-button"
            [disabled]="true"
            >
                <i class="pi pi-spin pi-spinner"></i>
            </p-button>
        }
    </div>
</div>