<p-toast></p-toast>
<div class="rawMaterial-data-form-view">
    <div class="rawMaterial-data-form">
        <div class="flex justify-content-center">
            <app-image-manager (uploadEvent)="updateRawMaterialPicture($event)"></app-image-manager>
        </div>
        <div class="fields">
            <app-category-manager  (warningMessage)="showWarningMessage($event)" (nameOfCategory)="setModalCategoryName($event)"></app-category-manager>
            <input type="text" pInputText placeholder="Nombre" [disabled]="this.disabledEdition()" [ngModel]="this.rawMaterialCatalogService.selectedRawMaterial()?.name" (ngModelChange)="updateRawMaterialName($event)"/>
            <p-dropdown [options]="units" optionLabel="name" placeholder="Unidades" [style]="{ width: '100%' }" emptyMessage="No se encontraron unidades" [disabled]="this.disabledEdition()" [ngModel]="this.rawMaterialCatalogService.selectedRawMaterial()?.unit" (ngModelChange)="updateRawMaterialUnit($event)"/>
            
            <p-dropdown [options]="sources" optionLabel="value" placeholder="Origen" [style]="{ width: '100%' }" emptyMessage="No se encontraron origenes" [disabled]="this.disabledEdition()" [ngModel]="getSourceValue()" (ngModelChange)="updateRawMaterialSource($event)"/>

            <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" placeholder="Comentario" [disabled]="this.disabledEdition()" [ngModel]="this.rawMaterialCatalogService.selectedRawMaterial()?.comment" (ngModelChange)="updateRawMaterialComment($event)"></textarea>
        </div>
    </div>
    <div class="rawMaterial-data-form-buttons">
        <p-button
        class="bottom-button"
        label="Cancelar"
        severity="secondary"
        [disabled]="this.disabledEdition() || loading"
        (onClick)="clickOnCancel()"
        ></p-button>

        @if (!loading) {
            <p-button
            class="bottom-button"
            label="Confirmar"
            [disabled]="this.disabledEdition() || rawMaterialCatalogService.nonModified()"
            (onClick)="clickOnConfirm()"
            ></p-button>
        }
        @else {
            <p-button
            class="bottom-button"
            [disabled]="true"
            >
                <i class="pi pi-spin pi-spinner"></i>
            </p-button>
        }
    </div>
</div>
<p-dialog header="{{ this.rawMaterialCatalogService.modalTitle }} Rubro" [modal]="true" [closable]="!modalLoading" [closeOnEscape]="!modalLoading" [(visible)]="this.rawMaterialCatalogService.modalVisibility" [style]="{ width: '25rem' }">
    <div (keypress)="onModalKeyPress($event)">
        <div class="flex align-items-center gap-3 mt-3 mb-3">
            <label for="category" class="font-semibold w-6rem">Rubro</label>
            <input pInputText id="category" class="flex-auto" [readOnly]="modalLoading" [disabled]="modalLoading" [(ngModel)]="newCategoryName" autocomplete="off"/>
        </div>
        <div class="flex justify-content-evenly gap-2">
            <p-button
            class="bottom-button"
            label="Cancelar"
            severity="secondary"
            [disabled]="modalLoading"
            (onClick)="clickOnModalCancel()"
            />
    
            @if (!modalLoading) {
                <p-button
                class="bottom-button"
                label="Confirmar"
                [disabled]="modalLoading || rawMaterialCatalogService.selectedRawMaterial()?.category?.name === newCategoryName"
                (onClick)="clickOnModalConfirm()"
                ></p-button>
            }
            @else {
                <p-button
                class="bottom-button"
                [disabled]="modalLoading"
                >
                    <i class="pi pi-spin pi-spinner"></i>
                </p-button>
            }
        </div>
    </div>
</p-dialog>