@import '../../../../../../../public/theme/boeris-theme';

h2 {
    color: $primaryColor;
}

.fila-lista {
    color: $primaryColor;
    background-color: $secondaryColor;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: $secondaryDarkColor;
    }

    &:active {
        background-color: $secondaryDarkerColor;
    }
}