<p-toast></p-toast>
<div class="container">
    @if (rolesService.partner) {
        @if (selectedPartner !== null) {
            <h2>{{ selectedPartner.lastName }}, {{ selectedPartner.firstName }}</h2>
        }
        <div class="asignacion-roles">
            <p-picklist
            [source]="availableRoles"
            [target]="assignedRoles"
            [targetHeader]="translateService.instant('SECTIONS.PARTNERS.ROLES.ASSIGNED_ROLES')"
            [showSourceControls]="false"
            [showTargetControls]="false"
            breakpoint="300px"
            [metaKeySelection]="false"
            (onSourceSelect)="onSelectedRole($event)"
            (onTargetSelect)="onSelectedRole($event)"
            >
                <ng-template let-item #item>
                    <div>
                        <p>{{ item.role }}</p>
                    </div>
                </ng-template>
            </p-picklist>
        </div>
        <div class="botones">
            @if (!isLoadingRoleChanges) {
                <p-button
                [label]="translateService.instant('SHARED.BUTTONS.APPLY')"
                [disabled]="equalsRoles()"
                (onClick)="applyChanges()"
                ></p-button>
            }
            @else {
                <p-button
                [disabled]="isLoadingRoleChanges"
                >
                    <i class="pi pi-spin pi-spinner"></i>
                </p-button>
            }
            <p-button severity="info" icon="pi pi-info-circle" (onClick)="displayRoleExplanation = true" />
        </div>
    }
    @else {
        @if (isLoadingPartner) {
            <i class="pi pi-spin pi-spinner"></i>
        }
        @else if (thereArePartners) {
            <p class="mensaje-socio-no-seleccionado">{{ 'SECTIONS.PARTNERS.ROLES.SELECT_PARTNER' | translate }}</p>
        }
    }
</div>

<p-dialog header="Explicación de roles" [modal]="true" [dismissableMask]="true" [(visible)]="displayRoleExplanation" [style]="{ width: '80vw', height: '50vh' }">
    @for (partnerRole of partnerRoles; track $index) {
        <div class="role">
            <b>Rol {{ partnerRole.role }}: </b> {{ partnerRole.explanation_role }}
        </div>
    }
</p-dialog>