<div class="products-list-view">
  <div class="product-list-buttons">
    <p-button
      [label]="translateService.instant('SECTIONS.CATALOGS.BUTTONS.ADD')"
      icon="fas fa-plus"
      (click)="clickOnAddNewProduct()"
    ></p-button>
  </div>
  <div class="products-list">
    @if (existingProducts.length!==0) {
    <div>
      <input
        pInputText
        type="text"
        [(ngModel)]="productSearch"
        (keyup)="searchProduct()"
        [placeholder]="
          translateService.instant('SHARED.DROPDOWN.SEARCH.PRODUCT')
        "
      />
    </div>
    } @if(visibleExistingProducts.length>0){
    <p-table
      [value]="visibleExistingProducts"
      [scrollable]="true"
      scrollHeight="60vh"
      selectionMode="single"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "SECTIONS.CATALOGS.PRODUCTS.LIST.HEADER.ID" | translate }}</th>
          <th>
            {{ "SECTIONS.CATALOGS.PRODUCTS.LIST.HEADER.NAME" | translate }}
          </th>
          <th>
            {{ "SECTIONS.CATALOGS.PRODUCTS.LIST.HEADER.STOCK" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-productRow>
        <tr
          class="product"
          [pSelectableRow]="youAreAdding()"
          (click)="clickOnProduct(productRow)"
        >
          <td>{{ productRow.nonModified.id }}</td>
          <td>{{ productRow.nonModified.name }}</td>
          <td>{{ productRow.nonModified.stock }}</td>
        </tr>
      </ng-template>
    </p-table>
    }@else {
    <p class="message-no-products">
      {{ "SHARED.DROPDOWN.EMPTY_MESSAGES.PRODUCTS" | translate }}
    </p>
    }
  </div>
</div>
