label {
    color: var(--p-primary-color);
    font-size: small;
}

.sorter {
    display: flex;
    align-items: center;
    gap: 5px;
}

:host ::ng-deep {
    .p-treeselect {
        width: 200px;
    
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    .p-tree-node-content {
        cursor: default;
    }

    .p-tree-node-content.p-tree-node-selectable {
        cursor: pointer;
    }

    .p-tree-node:focus-visible > .p-tree-node-content {
        outline: none;
    }
    
    .p-tree-node-content.p-tree-node-selectable.p-tree-node-selected {
        pointer-events: none;
    }

    li:has(> .p-tree-node-content.p-tree-node-selectable.p-tree-node-selected) {
        cursor: default;
    }
}

