label {
    color: var(--p-primary-color);
    font-size: small;
}

.sorter {
    display: flex;
    align-items: center;
    gap: 5px;
}

i {
    color: var(--p-primary-color);
}

:host ::ng-deep {
    .p-treeselect {
        width: 200px;
    
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    .p-tree-node-content {
        cursor: default;
    }

    .p-tree-node-content.p-tree-node-selectable {
        cursor: pointer;
    }

    .p-tree-node:focus-visible > .p-tree-node-content {
        outline: none;
    }
    
    .p-tree-node-content.p-tree-node-selectable.p-tree-node-selected {
        pointer-events: none;
    }

    li:has(> .p-tree-node-content.p-tree-node-selectable.p-tree-node-selected) {
        cursor: default;
    }
}

@keyframes disappear-to-background {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
        // transform: rotateX(90deg);
    }
    25% {
        opacity: 0.5;
        // transform: rotateX(90deg);
    }
    50% {
        opacity: 0;
        // transform: rotateX(0deg);
    }
    75% {
        opacity: 0.5;
        // transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        // transform: rotateX(90deg);
    }
}

.animated {
    &.disappear {
        animation-name: disappear-to-background;
        animation-duration: 0.2s;
        animation-timing-function: ease-in;
    }

    &.vanish {
        animation-name: vanish;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }
}