@font-face {
    font-family: 'Avoda';
    src: url('../../../../assets/fonts/Avoda\ Free\ Trial.ttf') format('truetype');
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../assets/images/flowers-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    padding-top: 100px;
}

.campos-de-texto {
    display: grid;
    gap: 6px;
    margin-bottom: 20px;
}

.login-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Avoda';
}

.p-field {
    position: relative;
}

.p-field .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    z-index: 1;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host ::ng-deep {
    .p-button {
        margin: 4px;
    }
    
    button.p-ripple.p-element.p-button.p-component {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    p-button.p-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .campos-de-texto .p-inputtext {
        padding-left: 35px;
    }

    &.muestra-cursor {
        .p-password {
            caret-color: transparent;
        }
    }
}

@media screen and (max-width: 576px) {
    .header-text {
        font-size: x-large;
    }
}

@media screen and (max-height: 500px) {
    .login-container {
        height: 140vh;
    }
}