<header>
    <div class="icono-empresa-login"></div>
    <span class="header-text">Boeri's Creaciones</span>
</header>

<div class="login-container">
    <div class="card">
        <h1 class="login-header">Iniciar sesión</h1>
        <div class="p-fluid campos-de-texto" (keypress)="login($event)">
            <div class="p-field">
                <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                <input
                pInputText
                [(ngModel)]="username"
                [disabled]="cargandoLogin"
                type="text"
                placeholder="Usuario"
                />
            </div>
            <div class="p-field">
                <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                <p-password
                [(ngModel)]="password"
                placeholder="Contraseña"
                [disabled]="cargandoLogin"
                [feedback]="false"
                [toggleMask]="true"
                ></p-password>
            </div>
        </div>
        <button pButton type="submit" [disabled]="cargandoLogin" label="Entrar" class="p-mt-2" (click)="login($event)"></button>
        <a class="register-link" routerLink="/register">Crear una cuenta</a>
    </div>
</div>