<p-toast></p-toast>

<app-header
[titulo]="'Boeri\'s Creaciones'"
>
</app-header>

<div class="login-container">
    <p-card>
        <h1 class="login-header">Iniciar sesión</h1>
        <div class="p-fluid campos-de-texto" (keypress)="login($event)">
            <div class="p-field">
                <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                <input
                pInputText
                [(ngModel)]="username"
                [disabled]="cargandoLogin"
                type="text"
                placeholder="Usuario"
                />
            </div>
            <div class="p-field">
                <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                <p-password
                [(ngModel)]="password"
                placeholder="Contraseña"
                [disabled]="cargandoLogin"
                [feedback]="false"
                [toggleMask]="true"
                ></p-password>
            </div>
        </div>
        <div class="botones">
            <p-button [disabled]="cargandoLogin" [outlined]="true" (click)="login($event)">Entrar</p-button>
            <p-button [disabled]="cargandoLogin" [outlined]="true" severity="secondary" (click)="register($event)">Crear una cuenta</p-button>
        </div>
        <div>
            <a class="forgot-password" routerLink="/forgot">¿Olvidó la contraseña?</a>
        </div>
    </p-card>
</div>