<div
style="display: flex;"
[ngStyle]="{
    'flex-direction': vertical() ? 'column' : 'row',
    'gap': gap()
}">
    @for (filter of filters(); track $index) {
        @if(filter.name !== null) {
            <app-checkbox-template
            [key]="filter.key"
            [name]="filter.name"
            [color]="filter.color"
            [initialValue]="initialFilters().includes(filter.key)"
            (onCheckboxChange)="onCheckboxChanges($event)"
            ></app-checkbox-template>
        }
        @else {
            <app-checkbox-template
            [key]="filter.key"
            [color]="filter.color"
            [initialValue]="initialFilters().includes(filter.key)"
            (onCheckboxChange)="onCheckboxChanges($event)"
            ></app-checkbox-template>
        }
    }
</div>
