@use '../../../../../../../../public/theme/boeris-theme';

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    align-items: baseline;
}

.field-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

i {
    margin-right: 5px;
}

p {
    margin: 0;
    user-select: none;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.row-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partner-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 90%;
}

.empty {
    height: 15px;
}

.id-provider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
}

.align-end {
    width: 100%;
    display: flex;
    justify-content: end;
}

.text-description-overflowed {
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.text-description-overflowed:hover {
    background-color: boeris-theme.$secondaryDarkColor;
}

.text-description-overflowed:active {
    background-color: boeris-theme.$secondaryDarkerColor;
}

::ng-deep {
    .p-card.p-component {
        height: 135px;
    }

    .p-card-body {
        height: 135px;
    }

    .p-card-content {
        height: calc(135px - 40px);
    }
}