@if (!deviceTypeService.isMobile()) {
    <div class="status">
        @if (purchase().status === 'P') {
            <i class="fas fa-clock fa-2xl"></i>
        }
    </div>
    <div class="fields">
        <div class="left-panel">
            <div class="id-provider">
                <div class="field-icon">
                    <i class="fas fa-barcode"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.ID')">
                        {{ purchase().id }}
                    </p>
                </div>
                <div class="field-icon">
                    <i class="fas fa-user-tie"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PROVIDER')">
                        {{ purchase().provider }}
                    </p>
                </div>
            </div>
            <div class="description">
                <p>{{ 'SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.DESCRIPTION' | translate }}</p>
                <p>{{ purchase().description }}</p>
            </div>
        </div>
        <div class="right-panel">
            <div class="vertical-fields">
                <div class="field-icon">
                    <i class="fas fa-user-pen"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PARTNER')">
                        {{ purchase().requester_partner }}
                    </p>
                </div>
                <div class="empty"></div>
                <div class="field-icon">
                    <i class="fas fa-calendar-plus"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.REQUEST_DATE')">
                        {{ purchase().order_date | date: 'dd/MM/yyyy' }}
                    </p>
                </div>
                @if (purchase().status === 'R') {
                    <div class="field-icon">
                        <i class="fas fa-calendar-check"></i>
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_DATE')">
                            {{ purchase().reception_date | date: 'dd/MM/yyyy' }}
                        </p>
                    </div>
                }
                @if (purchase().status === 'C') {
                    <div class="field-icon">
                        <i class="fas fa-calendar-xmark"></i>
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.CANCELATION_DATE')">
                            {{ purchase().canceled_date | date: 'dd/MM/yyyy' }}
                        </p>
                    </div>
                }
            </div>
            <div class="vertical-fields">
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="field-icon">
                    <i class="fas fa-truck"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_MODE')">
                        {{ purchase().reception_mode }}
                    </p>
                </div>
                <div class="empty"></div>
            </div>
            <div class="vertical-fields">
                <div class="field-icon">
                    <i class="fas fa-money-check"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.TOTAL')">
                        $ {{ purchase().price }}
                    </p>
                </div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="field-icon">
                    <i class="fas fa-store"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.STORE')">
                        {{ purchase().reception_branch }}
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@else {
    
}