@if (!deviceTypeService.isMobile()) {
    <div #fields class="fields">
        <div class="left-panel">
            <div #idContainer class="id-provider">
                <div class="field-icon">
                    <i class="fas fa-barcode"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.ID')" tooltipPosition="top">
                        {{ purchase().id.toString().padStart(7, '0') }}
                    </p>
                </div>
                <div class="field-icon" style="width: 50%;">
                    <i class="fas fa-user-tie"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PROVIDER')" tooltipPosition="top">
                        {{ purchase().provider.name }}
                    </p>
                </div>
            </div>
            <div #textDescriptionContainer class="description">
                <br>
                <b><p #textContainerTitle>{{ 'SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.DESCRIPTION' | translate }}</p></b>
                <p-dialog [modal]="true" [dismissableMask]="true" [(visible)]="displayDescription" [style]="{ width: '80vw', height: '50vh' }">
                    <p>{{ purchase().description }}</p>
                </p-dialog>
                <p
                class="text-description"
                (click)="isTextOverflowed && showDescription($event)"
                [ngClass]="{'text-description-overflowed': isTextOverflowed}"
                #description
                >{{ purchase().description }}</p>
            </div>
        </div>
        <div class="right-panel">
            <div class="row-fields partner-price">
                <div class="field-icon">
                    <i class="fas fa-user-pen"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PARTNER')" tooltipPosition="top">
                        {{ purchase().requester_partner.firstName }} {{ purchase().requester_partner.lastName }}
                    </p>
                </div>
                <div class="field-icon">
                    <i class="far fa-credit-card"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PAYMENT_METHOD')" tooltipPosition="top">
                        {{ purchase().payment_type | paymentMethodParse }}
                    </p>
                </div>
                <div class="field-icon">
                    <i class="fas fa-dollar-sign"></i>
                    @if (purchase().state === 'P' || purchase().state === 'C') {
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.BUDGET')" tooltipPosition="top">
                            {{ purchase().budget }}
                        </p>
                    }
                    @if (purchase().state === 'R') {
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.FINAL_PRICE')" tooltipPosition="top">
                            {{ purchase().final_price }}
                        </p>
                    }
                </div>
            </div>
            <div class="row-fields empty">
                
            </div>
            <div class="dates">
                <div class="row-fields">
                    <div class="field-icon">
                        <i class="fas fa-calendar-plus"></i>
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.REQUEST_DATE')" tooltipPosition="top">
                            {{ purchase().order_date | date: 'dd/MM/yyyy' }}
                        </p>
                    </div>
                    <div class="field-right-icon">
                        <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_MODE')" tooltipPosition="top">
                            {{ purchase().reception_mode | receptionModeParse }}
                        </p>
                        <i class="fas fa-truck"></i>
                    </div>
                </div>
                @if (purchase().state === 'R') {
                    <div class="row-fields align-items-start">
                        <div class="field-icon">
                            <i class="fas fa-calendar-check"></i>
                            <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_DATE')" tooltipPosition="top">
                                {{ purchase().reception_date | date: 'dd/MM/yyyy' }}
                            </p>
                        </div>
                        <div class="received-fields">
                            <div class="field-right-icon">
                                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.BRANCH')">
                                    {{ purchase().reception_branch?.name }}
                                </p>
                                <i class="fas fa-store"></i>
                            </div>
                        </div>
                    </div>
                }

                @if(purchase().state === 'C') {
                    <div class="row-fields">
                        <div class="field-icon">
                            <i class="fas fa-calendar-xmark"></i>
                            <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.CANCELATION_DATE')" tooltipPosition="top">
                                {{ purchase().cancel_date | date: 'dd/MM/yyyy' }}
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@else {
    <div #fields class="fields">
        <div class="column-fields">
            <div class="field-icon">
                <i class="fas fa-barcode"></i>
                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.ID')" tooltipPosition="top">
                    {{ purchase().id.toString().padStart(7, '0') }}
                </p>
            </div>
            <div class="field-icon">
                <i class="fas fa-user-pen"></i>
                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PARTNER')" tooltipPosition="top">
                    {{ purchase().requester_partner.firstName }} {{ purchase().requester_partner.lastName }}
                </p>
            </div>
            <div class="field-icon">
                <i class="fas fa-user-tie"></i>
                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PROVIDER')" tooltipPosition="top">
                    {{ purchase().provider.name }}
                </p>
            </div>
            <div class="field-icon">
                <i class="fas fa-calendar-plus"></i>
                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.REQUEST_DATE')" tooltipPosition="top">
                    {{ purchase().order_date | date: 'dd/MM/yyyy' }}
                </p>
            </div>
            @if (purchase().state === 'R') {
                <div class="field-icon">
                    <i class="fas fa-calendar-check"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_DATE')" tooltipPosition="top">
                        {{ purchase().reception_date | date: 'dd/MM/yyyy' }}
                    </p>
                </div>
                <div class="field-icon">
                    <i class="fas fa-truck"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.RECEPTION_MODE')" tooltipPosition="top">
                        {{ purchase().reception_mode | receptionModeParse }}
                    </p>
                </div>
                <div class="field-icon">
                    <i class="fas fa-store"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.BRANCH')">
                        {{ purchase().reception_branch?.name }}
                    </p>
                </div>
            }
    
            @if (purchase().state === 'C') {
                <div class="field-icon">
                    <i class="fas fa-calendar-xmark"></i>
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.CANCELATION_DATE')" tooltipPosition="top">
                        {{ purchase().cancel_date | date: 'dd/MM/yyyy' }}
                    </p>
                </div>
            }
        </div>
        <div class="column-fields align-items-end w-6">
            <div class="field-icon">
                <i class="fas fa-dollar-sign"></i>
                @if (purchase().state === 'P' || purchase().state === 'C') {
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.BUDGET')" tooltipPosition="top">
                        {{ purchase().budget }}
                    </p>
                }
                @if (purchase().state === 'R') {
                    <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.FINAL_PRICE')" tooltipPosition="top">
                        {{ purchase().final_price }}
                    </p>
                }
            </div>
            <div class="field-icon">
                <i class="far fa-credit-card"></i>
                <p [pTooltip]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.PAYMENT_METHOD')" tooltipPosition="top">
                    {{ purchase().payment_type | paymentMethodParse }}
                </p>
            </div>
            <br>
            <b><p>{{ 'SECTIONS.PROVISIONS.PURCHASES.CARD.FIELDS.DESCRIPTION' | translate }}</p></b>
            <p class="text-right">{{ purchase().description }}</p>
        </div>
    </div>
}