@import '../../../../../../public/theme/boeris-theme';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    background-color: $secondaryLightColor;
    height: 100%;
}
