@import '../../../../../../../../public/theme/boeris-theme';

h4 {
    color: $primaryColor;
}

.img-manager-content {
    text-align: center;
}

.rawMaterial-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primaryColor;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 3em;
    width: 200px;
    height: 200px;
}

.filter-img {
    filter: brightness(0) saturate(100%) invert(44%) sepia(65%) saturate(511%) hue-rotate(334deg) brightness(91%) contrast(91%);
}

:host ::ng-deep .p-fileupload .p-button-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Cambia este valor según el ancho que necesites */
    display: block;
}

@media screen and (max-width: 500px) {
    img {
        max-width: 20px;
    }
    
    .img-manager-content {
        margin-top: 3rem;
        margin-bottom: 1em;
    }
}