<div class="img-manager-content">
    <h4>{{ 'SECTIONS.CATALOGS.RAW_MATERIALS.FIELDS.PICTURE' | translate }}</h4>
    <div [ngClass]="{
        'rawMaterial-img': true,
        'filter-img':
            selectedRawMaterial() === null ||
            selectedRawMaterial()?.picture === translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.PICTURE.DEFAULT')
    }">
        <img
        [src]="imageSrc"
        width="190px"
        (load)="onImageLoad()"
        (error)="onImageError()"
        [hidden]="loadingImage"
        [alt]="translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.PICTURE.ALT')"
        >
        @if(loadingImage) {
            <i class="pi pi-spinner pi-spin"></i>
        }
    </div>
    <p-fileUpload #fileUpload
    mode="basic"
    name="demo[]"
    [chooseLabel]="translateService.instant('SECTIONS.CATALOGS.BUTTONS.UPLOAD')"
    chooseIcon="fas fa-upload"
    uploadIcon="fas fa-upload"
    [customUpload]="true"
    accept="image/*"
    (onSelect)="onUploadHandler($event)"
    [disabled]="rawMaterialsCatalogService.selectedRawMaterial() === null || disabled()"
    [showCancelButton]="true"
    >
    </p-fileUpload>
</div>
