<div class="fields">
    <div>
        <div class="flex flex-column gap-2">
            <p>{{ 'SECTIONS.PROVISIONS.PURCHASES.RECEPTION.FIELDS.BRANCH' | translate }}</p>
            <app-branches-dropdown
            (getBranch)="onBranchSelected($event)"
            style="justify-content: left;"
            ></app-branches-dropdown>
        </div>

        @if (fieldsLack) {
            <p class="error-message">
                {{ 'SECTIONS.PROVISIONS.PURCHASES.RECEPTION.FIELDS.ERROR.BRANCH' | translate }}
            </p>
        }
        @else {
            <p> </p>
        }
    </div>

    <div class="input-amount">
        <div class="flex gap-2 align-items-center">
            <p-inputnumber
            [(ngModel)]="additionalAmount"
            inputId="locale-germany"
            mode="decimal"
            locale="de-DE"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            />
            <p>{{ 'SECTIONS.PROVISIONS.PURCHASES.RECEPTION.FIELDS.ADDITIONAL_AMOUNT' | translate }}</p>
        </div>
        <br>
        <input
        style="width: 100%;"
        pInputText
        maxlength="50"
        [placeholder]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.RECEPTION.FIELDS.ADDITIONAL_AMOUNT_REASON')"
        [(ngModel)]="additionalAmountReason"
        />
        <p class="optional-message">
            ({{ 'SHARED.MESSAGES.OPTIONAL' | translate }})
        </p>
    </div>
    
    <div class="upload-file">
        <p-fileupload #fileUpload
        mode="basic"
        name="demo[]"
        [chooseLabel]="translateService.instant('SECTIONS.PROVISIONS.PURCHASES.RECEPTION.FIELDS.INVOICE.LOAD')"
        chooseIcon="fas fa-upload"
        uploadIcon="fas fa-upload"
        [customUpload]="true"
        [accept]="'.png,.jpg,.jpeg,.pdf'"
        (onSelect)="onInvoiceLoading($event)"
        [showCancelButton]="true"
        />
        <p class="optional-message">
            ({{ 'SHARED.MESSAGES.OPTIONAL' | translate }})
        </p>
    </div>
    
    <footer class="buttons">
        <p-button
        severity="secondary"
        [label]="translateService.instant('SHARED.BUTTONS.CANCEL')"
        (onClick)="onCancel()"
        ></p-button>
        <p-button
        [label]="translateService.instant('SHARED.BUTTONS.ACCEPT')"
        (onClick)="onAccept()"
        ></p-button>
    </footer>
</div>