@if (groupedBranches) {
<p-select
  [options]="groupedBranches"
  [style]="{ width: '15rem' }"
  [filter]="true"
  filterBy="label"
  [emptyMessage]="
    translateService.instant('SECTIONS.CATALOGS.DROPDOWNS.EMPTY_MESSAGE')
  "
  [emptyFilterMessage]="
    translateService.instant('SECTIONS.CATALOGS.DROPDOWNS.EMPTY_FILTER_MESSAGE')
  "
  [placeholder]="
    translateService.instant('SECTIONS.CATALOGS.BRANCHES.DROPDOWNS')
  "
  [group]="true"
  (onChange)="onSelection($event)"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-select>
} @else {
<p-skeleton width="15rem" height="3rem" styleClass="mb-2"></p-skeleton>
}
