@if (groupedRawMaterials) {
<p-select
  [options]="groupedRawMaterials"
  [style]="{ width: '16.5rem' }"
  [filter]="true"
  filterBy="name"
  [disabled]="disabled()"
  [emptyMessage]="
    translateService.instant('SHARED.DROPDOWN.EMPTY_MESSAGE.RAW_MATERIALS')
  "
  [emptyFilterMessage]="
    translateService.instant('SHARED.DROPDOWN.EMPTY_FILTER_MESSAGE')
  "
  [placeholder]="
    translateService.instant('SHARED.DROPDOWN.SELECTION_MESSAGE.RAW_MATERIAL')
  "
  [group]="true"
  [(ngModel)]="selectedRawMaterial"
  (onChange)="onSelection($event)"
  appendTo="body"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-select>
} @else {
<p-skeleton width="16.5rem" height="3rem" styleClass="mb-2"></p-skeleton>
}
