@if (rawMaterials) {
<p-select
  [options]="rawMaterials"
  [style]="{ width: '16.5rem' }"
  [filter]="true"
  filterBy="name"
  [emptyMessage]="
    translateService.instant('SECTIONS.CATALOGS.DROPDOWNS.EMPTY_MESSAGE')
  "
  [emptyFilterMessage]="
    translateService.instant('SECTIONS.CATALOGS.DROPDOWNS.EMPTY_FILTER_MESSAGE')
  "
  [placeholder]="
    translateService.instant('SECTIONS.CATALOGS.RAW_MATERIALS.DROPDOWNS')
  "
  [group]="true"
  (onChange)="onSelection($event)"
    appendTo="body"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-select>
} @else {
<p-skeleton width="16.5rem" height="3rem" styleClass="mb-2"></p-skeleton>
}
