<div class="container">
    <div class="vista-lista-materias-primas">
        <div class="botones">
            <p-button label="Agregar" icon="fas fa-plus" (onClick)="AddRawMaterial()"></p-button>
            <p-button label="Editar" icon="fas fa-pencil" [disabled]="rawMaterialService.isDisabledEdition()" (onClick)="EditRawMaterial()"></p-button>
        </div>
        <app-list-raw-materials></app-list-raw-materials>
    </div>
    <!--is not mobile-->
    @if(!isMobile){
        <p-divider layout="vertical"/>
        <div class="vista-edicion">
            @if (showDataComponent) {
                <app-raw-materials-data></app-raw-materials-data>
            }
        </div>
    }

</div>