@import 'src/assets/scss/boeris-colores';

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 5px 0;
}

.label-text {
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;
    font-family: 'Avoda';
}

.contenedor-comentario {
    overflow: hidden;
    text-align: center;
    max-height: calc(5 * 2em);
    margin: 1vh;
}

.label-field {
    display: flex;
    flex-direction: row;
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
    }
}

.contenedor {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}

.estado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.datos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
}

.datos-generales {
    display: flex;
    flex-direction: column;
}

.datos-2 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.stockeo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
}

.combined-icons {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin-right: 10px;
}

.sub-icon {
    position: relative;
    top: 6px;
}

.fechas {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.utilizacion {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.usos-contable {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.usos-no-contable {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fecha-uso-total {
    display: flex;
    justify-content: center;
}

.seleccion-subelemento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}

.gestion-resta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cantidades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resta {
    display: grid;
    grid-template-columns: 50% 50%;
}

.a-restar {
    display: flex;
    justify-content: center;
}

.botones {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.botones-uso {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.ver-uso {
    display: flex;
    justify-content: center;
}

.text-comentario {
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.text-comentario:hover {
    background-color: $light-color-1;
}

.text-comentario:active {
    background-color: $light-color-2;
}

:host ::ng-deep {

    .p-button {
        padding: 5px 7px;
    }

    .p-card.p-component.estado {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .p-card.p-component.datos {
        border-radius: 0;
    }
    
    .p-card.p-component {
        border-radius: 10px;
    }

    .p-card.p-component.contenedor-a-colorear {
        color: $text-color-1;
        background-color: $secondary-color;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .contenedor-a-colorear {
        display: grid;
        grid-template-columns: 70% 30%;
        margin: 0;
    }

    // Colores para el estado
    .color-estado-pendiente {
        color: #96AB00;
    }
    .background-color-estado-pendiente {
        background-color: #ffff00ad;
    }

    .color-estado-activa {
        color: $main-color;
    }
    .background-color-estado-activa {
        background-color: $secondary-color;
    }

    .color-estado-utilizada {
        color: green;
    }
    .background-color-estado-utilizada {
        background-color: #2bff0054;
    }
    //////////////////////////
    
    .p-card .p-card-body {
        padding: 0;
    }

    .p-divider.p-divider-horizontal {
        margin: 5px;
    }
}