<p-card>
    <!--
            El contenedor tiene 3 secciones: contenedor, datos, y comentario/stockeo.
        Pero divido la 1ra de las 2 restantes porque las dos últimas están coloreadas
        de fondo de una forma particular.
    -->
    <div class="contenedor">
        <div class="p-card p-component estado" [ngClass]="background_color_estado">
            <fa-icon
            class="icon"
            [icon]="icono_estado"
            [ngClass]="color_estado"
            size="4x"
            >
            </fa-icon>
        </div>

        <!-- Aplicando p-card y p-component es como se logra que el contenedor que da el color a la card esté redondeado en las esquinas (ver el SCSS) -->
        <div class="p-card p-component contenedor-a-colorear">
            <div class="datos">
                <div class="datos-generales">
                    <div class="datos-1">
                        <div class="label-field">
                            <div class="combined-icons">
                                <fa-icon [icon]="['fas', 'barcode']"></fa-icon>
                                <fa-icon
                                class="sub-icon"
                                [icon]="['fas', 'flask']"
                                size="2xs"
                                ></fa-icon>
                            </div>
                            <p pTooltip="ID de materia prima" tooltipPosition="top">{{ rawMaterial.ID_MP }}</p>
                        </div>
                    </div>
                    <div class="datos-2">
                        <div class="label-field">
                            <div class="combined-icons">
                                <fa-icon [icon]="['fas', 'barcode']"></fa-icon>
                                <fa-icon
                                class="sub-icon"
                                [icon]="['fas', 'receipt']"
                                size="2xs"
                                ></fa-icon>
                            </div>
                            <p pTooltip="ID de la compra" tooltipPosition="top">{{ rawMaterial.ID_Compra }}</p>
                        </div>
                        <div class="label-field">
                            <fa-icon class="icon" [icon]="['fas', 'dollar-sign']"></fa-icon>
                            <p pTooltip="Precio unitario" tooltipPosition="top">{{ rawMaterial.Price }}</p>
                        </div>
                        <div class="label-field">
                            <fa-icon class="icon" [icon]="['fas', 'cube']"></fa-icon>
                            <p pTooltip="Producto" tooltipPosition="top">{{ rawMaterial.Name }}</p>
                        </div>

                        <div class="label-field" *ngIf="rawMaterial.EsContable()">
                            <fa-icon class="icon" [icon]="['fas', 'boxes-stacked']"></fa-icon>
                            <p pTooltip="Cantidad restante" tooltipPosition="top" *ngIf="rawMaterial.State === 'A'">{{ rawMaterial.CurrentQnty }}</p>
                            <p style="margin: 0px 5px;" *ngIf="rawMaterial.State === 'A'">/</p>
                            <p pTooltip="Cantidad por paquete" tooltipPosition="top">{{ rawMaterial.QntyPerPack }}</p>
                        </div>

                        <div class="label-field" *ngIf="rawMaterial.EsNoContable()">
                            <fa-icon class="icon" [icon]="['fas', 'ruler']"></fa-icon>
                            <p pTooltip="Medida" tooltipPosition="top">{{ rawMaterial.Measure }} {{ rawMaterial.MeasureUnit }}</p>
                        </div>

                    </div>
                    <div class="label-field">
                        <fa-icon class="icon" [icon]="['fas', 'user-tie']"></fa-icon>
                        <p pTooltip="Proveedor" tooltipPosition="top">{{ rawMaterial.Provider }}</p>
                    </div>
                </div>

                <div class="fechas">
                    <!-- Fecha de orden -->
                    <div class="label-field">
                        <fa-icon class="icon" [icon]="['fas', 'calendar-check']"></fa-icon>
                        <p pTooltip="Fecha de pedido" tooltipPosition="top">{{ rawMaterial.OrderDate | customDate }}</p>
                    </div>
                    <!-- Fecha de stockeo -->
                    <div class="label-field" *ngIf="rawMaterial.State !== 'P'">
                        <fa-icon class="icon" [icon]="['fas', 'calendar-plus']"></fa-icon>
                        <p pTooltip="Fecha de entrada en stock" tooltipPosition="top">{{ rawMaterial.StockDate | customDate }}</p>
                    </div>
                </div>

            </div>
            <div class="contenedor-comentario" #contenedorTexto *ngIf="rawMaterial.State === 'P'">
                <h2 #tituloContenedorTexto class="label-text">Comentario</h2>
                <p-overlayPanel
                #opComentario
                [appendTo]="'body'"
                >
                    <ng-template pTemplate="content">
                        <p>{{ rawMaterial.Comment }}</p>
                    </ng-template>
                </p-overlayPanel>
                <p
                (click)="isTextOverflowed && opComentario.toggle($event)"
                [ngClass]="{'text-comentario': isTextOverflowed}"
                #comentario
                >
                    {{
                        rawMaterial.Comment ?
                        rawMaterial.Comment :
                        'No se especificó un comentario en la compra'
                    }}
                </p>
            </div>

            <div class="stockeo" *ngIf="rawMaterial.State !== 'P'">
                <div class="utilizacion">

                    <!-- Este contenedor no se renderizará solo en una materia prima contable en su estado 'En Stock' -->
                    <div *ngIf="rawMaterial.EsNoContable() || rawMaterial.State !== 'A'">
                        <div class="usos-contable" *ngIf="rawMaterial.EsContable()">
                            <div class="label-field">
                                <fa-icon
                                class="icon"
                                [icon]="['fas', 'check']"
                                ></fa-icon>
                                <p
                                *ngIf="rawMaterial.QntyPerPack && rawMaterial.CurrentQnty"
                                pTooltip="Utilizados con éxito"
                                tooltipPosition="bottom"
                                >
                                    {{ rawMaterial.QntyPerPack - rawMaterial.CurrentQnty }}
                                </p>
                            </div>
                            <div class="label-field">
                                <fa-icon
                                class="icon"
                                [icon]="['fas', 'trash']"
                                ></fa-icon>
                                <p
                                *ngIf="rawMaterial.CurrentQnty"
                                pTooltip="Descartados"
                                tooltipPosition="bottom"
                                >
                                    {{ rawMaterial.CurrentQnty }}
                                </p>
                            </div>
                        </div>

                        <div class="usos-no-contable" *ngIf="rawMaterial.EsNoContable()">
                            <div class="label-field">
                                <fa-icon
                                class="icon"
                                [icon]="['fas', 'hand']"
                                ></fa-icon>
                                <p pTooltip="Cantidad de usos" tooltipPosition="bottom">42</p>
                            </div>
                        </div>
                    </div>

                    <div class="gestion-resta" *ngIf="rawMaterial.State === 'A'">
                        <div class="seleccion-subelemento" *ngIf="rawMaterial.EsNoContable()">
                            <p-dropdown
                            [(ngModel)]="subelemento"
                            [options]="rawMaterial.Uses"
                            optionLabel="cantidad"
                            placeholder="Subelementos"
                            emptyMessage="No se encontraron subelementos"
                            ></p-dropdown>
                            <!-- TODO Modal para edición de subelementos -->
                            <p-button
                            >
                                <fa-icon
                                [icon]="['fas', 'pencil']"
                                [rotate]="90"
                                ></fa-icon>
                            </p-button>
                        </div>
                        <div class="resta">
                            <div class="a-restar">
                                <p-inputNumber
                                [(ngModel)]="cantidad_a_restar"
                                [showButtons]="true"
                                [min]="0"
                                [inputStyle]="{'text-align': 'right', 'width': '50px'}"
                                inputId="toDiscountQnty"
                                mode="decimal"
                                ></p-inputNumber>
                            </div>

                            <div class="botones-uso" *ngIf="rawMaterial.State === 'A'">
                                <!-- TODO Implementar funcionalidad del botón de uso -->
                                <p-button
                                >
                                    <fa-icon
                                    [icon]="['far', 'hand']"
                                    ></fa-icon>
                                </p-button>
        
                                <!-- TODO Implementar funcionalidad del botón de finalización de uso -->
                                <p-button
                                severity="success"
                                >
                                    <fa-icon
                                    [icon]="['fas', 'check']"
                                    ></fa-icon>
                                </p-button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="fecha-uso-total" *ngIf="rawMaterial.State === 'U'">
                        <div class="label-field">
                            <fa-icon
                            class="icon"
                            [icon]="['fas', 'calendar-minus']"
                            ></fa-icon>
                            <p
                            pTooltip="Fecha de finalización de uso"
                            tooltipPosition="top"
                            >
                                {{ rawMaterial.TerminateDate | customDate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="ver-uso">
                    <!-- TODO Implementar la tabla con las columnas "Fecha de uso", "Subelemento" (en caso de que sea NO contable), "Cantidad", y "Usuario" -->
                    <p-button
                    >
                        <div class="combined-icons">
                            <fa-icon
                            [icon]="['fas', 'eye']"
                            ></fa-icon>
                            <fa-icon
                            class="sub-icon"
                            [icon]="['fas', 'hand']"
                            size="2xs"
                            ></fa-icon>
                        </div>
                    </p-button>
                </div>
            </div>
        </div>

    </div>
</p-card>