@import 'src/assets/scss/boeris-colores';
@import "src/assets/scss/primeng-theme";
@font-face {
    font-family: 'Avoda';
    src: url('/assets/fonts/Avoda\ Free\ Trial.ttf') format('truetype');
}


/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #c0653b;
    text-decoration: none;
    font-family: 'Avoda';
    font-size: 1.2rem;
    font-weight: bold;
}

.p-button {
    font-family: 'Avoda';
    font-weight: bold;
    font-size: 1.2rem;
    color: $text-color-button;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, outline 0.1s;
}

// :host ::ng-deep {
    
// }