@if (groupedProviders) {
<p-select
  [options]="groupedProviders"
  [style]="{ width: '15rem' }"
  [filter]="true"
  filterBy="label"
  [emptyMessage]="
    translateService.instant('SHARED.DROPDOWN.EMPTY_MESSAGES.PROVIDERS')
  "
  [emptyFilterMessage]="
    translateService.instant('SHARED.DROPDOWN.EMPTY_FILTER_MESSAGE')
  "
  [placeholder]="
    translateService.instant('SHARED.DROPDOWN.SELECTION_MESSAGE.PROVIDER')
  "
  [group]="true"
  (onChange)="onSelection($event)"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-select>
} @else {
<p-skeleton width="15rem" height="3rem" styleClass="mb-2"></p-skeleton>
}
