@use '../../../../../../../public/theme/boeris-theme';

h2 {
    color: boeris-theme.$primaryColor;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista {
    height: 85%;
}

i {
    color: boeris-theme.$primaryColor;
}

:host ::ng-deep .botones .p-button {
    width: 168px;
}

:host ::ng-deep .p-scroller-spacer {
    height: 50vh !important;
}

::ng-deep .p-inputtext {
    user-select: none;
}

.fila-lista {
    color: boeris-theme.$primaryColor;
    background-color: boeris-theme.$secondaryColor;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    padding: .5rem;

    &:hover {
        background-color: boeris-theme.$secondaryDarkColor;
    }

    &:active {
        background-color: boeris-theme.$secondaryDarkerColor;
    }
}