<p-toast></p-toast>

<div class="container">
    @if (selectedCategory || !deviceTypeService.isMobile()) {
        <p-dropdown
        [options]="categories"
        optionLabel="name"
        [placeholder]="translateService.instant('SECTIONS.CATALOGS.PROVIDERS.FIELDS.CATEGORY')"
        [style]="{ width: '60%' }"
        [emptyMessage]="translateService.instant('SHARED.DROPDOWN.EMPTY_MESSAGES.CATEGORIES')"
        [disabled]="disabled()"
        [ngModel]="selectedCategory"
        (ngModelChange)="emitCategory($event)"
        ></p-dropdown>
    }
    @else {
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    }
    
    <div class="buttons">
        <p-button
        icon="fas fa-plus"
        [disabled]="disabled()"
        (onClick)="showModalCategory()"
        ></p-button>

        <p-button
        icon="fas fa-pencil"
        [disabled]="disabled()"
        (onClick)="showModalCategory(true)"
        ></p-button>
    </div>
</div>